:root {
  /* --sidebar-bg: #ddbfe4; */
  --sidebar-bg: #d4addd;
  --sidebar-text: #fefefe;
  --sidebar-font: "Playfair Display";
  --content-text: #2b3436;
  --content-font: "Merriweather";
  --content-header: serif;
  --content-bg: #fefefe;
  --header-font: "Lato";
  --header-text: #c089cd;
  --header-bg: #fefefe;
  --bg: #fbf7f5;
}
body {
  margin: 0;
  padding-bottom: 50px;
  background-color: var(--bg);
  width: auto;
}
a {
  all: unset;
}
.header {
  width: 100%;
  background-color: var(--header-bg);
  font-family: var(--header-font);
  color: var(--header-text);
  margin-bottom: 50px;
  box-sizing: border-box;
  padding: 10px 20px 12px 20px;
  box-shadow: 0 4px 2px -3px rgba(30, 20, 80, 0.08);
}
.header__span {
  padding-left: 20px;
}
.header__nav {
  list-style: none;
  margin: 0;
  padding: 0;
  float: right;
}
.header__nav li:hover {
  color: var(--sidebar-bg);
}
.header__navicon {
  display: none;
}
.nav__item {
  float: left;
  margin-right: 15px;
  text-transform: uppercase;
  cursor: pointer;
  transition: color 1s;
}
.container {
  width: 50%;
  min-height: 500px;
  min-width: 660px;
  margin: auto;
  box-shadow: 0 0 50px 0 rgba(30, 20, 80, 0.08),
    0 0 50px 0 rgba(30, 20, 80, 0.08);
  display: flex;
  flex-direction: row;
  align-items: stretch;
}
.container__content {
  padding: 15px 30px 15px 30px;
  background-color: var(--content-bg);
  color: var(--content-text);
  flex: 4 0 0;
  min-width: 400px;
  font-family: var(--content-font);
}
.content__h1 {
  text-align: center;
  font-family: var(--content-header);
}
.content__p {
  text-align: left;
  font-size: 0.9rem;
  opacity: 0.9;
}
.content__hr {
  width: 15%;
  margin-top: -1rem;
  border-color: var(--sidebar-bg);
}
.content__project {
  height: 100px;
  margin-bottom: 10px;
}
.content__project:first-of-type {
  margin-top: 10px;
}
.content__project:last-of-type {
  margin-bottom: 0;
}
.project__desc {
  margin-top: 0;
  font-size: 0.9rem;
  opacity: 0.9;
}
.project__title {
  padding: 0;
  margin: 0;
  font-family: var(--content-header);
}
.title__tools {
  font-style: italic;
  opacity: 0.7;
  font-size: 0.8rem;
}
.title__date {
  float: right;
  font-size: 9px;
  opacity: 0.5;
  display: none;
}
.container__sidebar {
  color: var(--sidebar-text);
  background-color: var(--sidebar-bg);
  text-align: center;
  padding: 15px;
  flex: 1 0 0;
  display: flex;
  flex-direction: column;
  min-width: 190px;
}
#projects .container__sidebar {
  min-width: 80px;
}
.sidebar__h1 {
  padding-bottom: 2rem;
  font-family: var(--sidebar-font);
}
.sidebar__span {
  font-size: 32px;
  align-self: flex-end;
  flex-grow: 1;
  font-family: var(--sidebar-font);
  font-weight: 300;
  font-style: italic;
}
.sidebar__line {
  margin: auto;
  border-bottom: 1px solid var(--sidebar-text);
  margin-bottom: 1rem;
  margin-top: -2.5rem;
  width: 60%;
}
.sidebar__img {
  border: 2px solid white;
  border-radius: 50%;
  height: 10rem;
  width: 10rem;
  padding: 0.8rem;
  filter: grayscale(30%);
}
.sidebar__num {
  padding-bottom: 70px;
  font-size: 35px;
  font-style: italic;
  text-align: right;
}
.sidebar__num:last-of-type {
  padding-bottom: 0px;
}
.sidebar__footer {
  font-size: 20px;
  text-align: center;
  padding: 80px 0px 0px 0px;
}
.fab,
.far {
  cursor: pointer;
  margin: 0 10px 0 10px;
}
.p--center {
  text-align: center;
}
@media only screen and (max-width: 730px) {
  .header__span {
    padding-left: 10px;
  }
  .header__navicon {
    display: inline;
    font-size: 1.2rem;
    float: right;
    cursor: pointer;
  }
  .header__nav {
    display: none;
    box-sizing: border-box;
    position: absolute;
    right: 0;
    top: 40px;
    opacity: 0.9;
    text-align: center;
    background-color: var(--header-bg);
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 8px 5px;
    z-index: 1;
  }
  .nav__item {
    margin: 0;
    padding: 5px 0px;
  }
  .container {
    min-width: 450px;
    font-size: 0.8rem;
  }
  .container__content {
    min-width: 250px;
    padding: 5px 20px 5px 20px;
  }
  .content__p {
    font-size: 0.8rem;
  }
  .content__project{
    margin-bottom: 5px;
  }
  .project__desc{
    font-size: 0.8rem;
    opacity: 0.9;
  }
  .container__sidebar {
    min-width: 140px;
    align-items: center;
    padding: 0.5rem;
  }
  .sidebar__h1 {
    font-size: 1.5rem;
  }
  .sidebar__img {
    height: 5rem;
    width: 5rem;
  }
  .sidebar__footer {
    padding: 220px 0px 0px 0px;
  }
}
@media only screen and (max-width: 500px) {
  .header__span {
    padding: 5px 0px;
  }
  .container {
    min-width: 290px;
    max-width: 290px;
    font-size: 0.8rem;
    flex-direction: column-reverse;
  }
  #projects.container {
    flex-direction: column;
  }
  .content__project:first-of-type {
    margin-top: 10px;
  }
  .content__project{
    height: auto;
    margin-bottom: 15px;
  }
  .content__project:last-of-type{
    margin-bottom: 10px;
  }
  .project__desc{
    font-size: 0.8rem;
    opacity: 0.9;
  }
  .container__sidebar {
    min-height: 80px;
    flex-direction: row;
    justify-content: space-between;
  }
  #projects .container__sidebar{
    min-height: 8px;
  }
  .sidebar__p{
    /* display: none; */
  }
  .sidebar__line {
    display: none;
  }
  .sidebar__h1 {
    font-size: 1rem;
    padding: 0;
    margin: 0;
    display: none;
  }
  .sidebar__img {
    height: 3rem;
    width: 3rem;
    padding: 0.2rem;
  }
  .sidebar__num {
    display: none;
  }
  .sidebar__footer {
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    padding: 0;
  }
}
