@use "colors";
@use "spacing";
@use "fonts";
@use "defaults";

* {
  font-family: "Fira Sans";
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: normal;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

html, body {
  background-color: colors.$background;
  color: colors.$paragraph;
  font-size: fonts.$font-size-5;
  height: 100%;
  margin: 0 auto;
  width: 100%;
}