@import url('https://fonts.googleapis.com/css?family=Fira+Sans');

$black: #2e2e2e;
$white: #fefefe;
$purple: #f4c2ff;

* {
  color: $black;
  font-family: 'Fira Sans';
}
html, body {
  background: linear-gradient(174.32deg, #F0C2F4 0.26%, #CEC8FF 94.8%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
  margin: 0;
  width: 100%;
}
h1, h2, h3, h4, h5 {
  font-weight: 500;
  margin: 0;
}